.box {
  display: flex;
  width: fit-content;
  background-color: #009e02; }
  .box .column {
    margin: 4px 5px;
    display: flex;
    flex-direction: column;
    border: 1px solid black; }
  .box .minibox {
    border: 1px solid;
    width: 30px;
    height: 30px;
    margin: 4px 3px;
    background-color: #29ff2c; }
