@media only screen and (max-width: 700px) {
  body {
    margin: 0 5px 15px 5px;
    padding: 0;
    background-color: #009d02; }
    body .header {
      display: flex;
      justify-content: center;
      background-color: #009e02;
      box-shadow: 0px 10px 11px -3px rgba(0, 0, 0, 0.51); }
    body .chooseCourses {
      display: flex;
      flex-wrap: wrap;
      width: 100%; }
      body .chooseCourses .courseCard {
        width: 100%;
        margin: 10px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center; }
        body .chooseCourses .courseCard .courseImg {
          height: 300px;
          background-size: cover;
          background-position: center;
          width: 100%; }
    body .container {
      display: flex;
      flex-wrap: nowrap;
      overflow-x: auto; }
      body .container .playerInput {
        display: flex;
        flex-direction: column; }
        body .container .playerInput button {
          margin-bottom: 100px;
          font-size: 15px;
          background-color: #29ff2c;
          outline: none; }
        body .container .playerInput .playerNames {
          margin: 2.6px;
          border-bottom: 1px solid black;
          border-top: 1px solid black;
          padding: 8px; }
          body .container .playerInput .playerNames input {
            outline: none; }
      body .container .box {
        display: flex;
        width: fit-content;
        background-color: #29ff2c; }
        body .container .box .column {
          margin: 4px 5px;
          display: flex;
          flex-direction: column;
          border: 1px solid black;
          padding: 2px; }
          body .container .box .column .yards {
            border: 1px solid #ffffff;
            background-color: #009d02; }
          body .container .box .column .handicap {
            border: 1px solid #ffffff;
            background-color: #009d02; }
          body .container .box .column .par {
            border: 1px solid #ffffff;
            background-color: #009d02; }
        body .container .box .minibox {
          border: 1px solid;
          width: 30px;
          height: 30px;
          margin: 4px 3px;
          background-color: #009d02;
          color: #ffffff;
          font-size: 20px;
          outline: none; }
        body .container .box .addSeperate {
          margin: 4px 5px;
          display: flex;
          flex-direction: column;
          border: 1px solid black;
          padding: 2px; }
          body .container .box .addSeperate .label {
            margin-bottom: 96px; }
        body .container .box .addTotal {
          margin: 4px 5px;
          display: flex;
          flex-direction: column;
          border: 1px solid black;
          padding: 2px; } }

@media only screen and (min-width: 701px) {
  body {
    margin: 0 5px 15px 5px;
    padding: 0;
    height: 100%;
    background-color: #009d02; }
  .header {
    display: flex;
    justify-content: center;
    background-color: #009e02;
    box-shadow: 0px 10px 11px -3px rgba(0, 0, 0, 0.51); }
  .chooseCourses {
    display: flex;
    width: 100%; }
    .chooseCourses .courseCard {
      width: 100%;
      margin: 10px;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .chooseCourses .courseCard .courseImg {
        height: 300px;
        background-size: cover;
        background-position: center;
        width: 100%; }
  .container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto; }
    .container .playerInput {
      display: flex;
      flex-direction: column; }
      .container .playerInput button {
        margin-bottom: 100px;
        font-size: 15px;
        background-color: #29ff2c;
        outline: none; }
      .container .playerInput .playerNames {
        margin: 2.6px;
        border-bottom: 1px solid black;
        border-top: 1px solid black;
        padding: 8px; }
        .container .playerInput .playerNames input {
          outline: none; }
    .container .box {
      display: flex;
      width: fit-content;
      background-color: #29ff2c; }
      .container .box .column {
        margin: 4px 5px;
        display: flex;
        flex-direction: column;
        border: 1px solid black;
        padding: 2px; }
        .container .box .column .yards {
          border: 1px solid #ffffff;
          background-color: #009d02; }
        .container .box .column .handicap {
          border: 1px solid #ffffff;
          background-color: #009d02; }
        .container .box .column .par {
          border: 1px solid #ffffff;
          background-color: #009d02; }
      .container .box .minibox {
        border: 1px solid;
        width: 30px;
        height: 30px;
        margin: 4px 3px;
        background-color: #009d02;
        color: #ffffff;
        font-size: 20px;
        outline: none; }
      .container .box .addSeperate {
        margin: 4px 5px;
        display: flex;
        flex-direction: column;
        border: 1px solid black;
        padding: 2px; }
        .container .box .addSeperate .label {
          margin-bottom: 96px; }
        .container .box .addSeperate .miniboxSeperate {
          border: 1px solid;
          width: 30px;
          height: 30px;
          margin: 5px 3px;
          background-color: #009d02;
          color: #ffffff;
          font-size: 20px; }
      .container .box .addTotal {
        margin: 4px 5px;
        display: flex;
        flex-direction: column;
        border: 1px solid black;
        padding: 2px; }
        .container .box .addTotal .label {
          margin-bottom: 96px; }
        .container .box .addTotal .whyNot input {
          border: 1px solid;
          width: 30px;
          height: 30px;
          margin: 4px 3px;
          background-color: #009d02;
          color: #ffffff;
          font-size: 20px;
          outline: none; } }
